<!--
-- -------------------------------------------------------------
-- Project Step 3 DRAFT
-- -------------------------------------------------------------
-- Group:           78
-- Team Name:       Database Due
-- Team Members:    Emma Babcock & Serkan Bayramoglu
-- -------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <footer>
        <hr/><br>
        &#169; Prepared by Emma Babcock & Serkan Bayramoglu, 2022 <br/>
        (*) Edit and delete icons taken from from <a href="https://icons8.com/icons/set/edit" target="_blank">https://icons8.com/icons/set/edit</a>
    </footer>
</body>